.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  opacity: 1;
  transition: opacity 20s ease-in-out; /* Smooth fade effect */
  font-size: 8rem;
}

.inputContainer {
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 70%;
  border: 1px solid black;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.searchBarVisible {
  display: flex;
  align-items: center;
  animation: showSearchBarAnimation 1s ease-in-out forwards;
}

.buttonVisible {
  opacity: 0;
  animation-delay: 1s; /* Delay the animation */
  align-items: center;
  animation: showButtonAnimation 3s ease-in-out forwards;
}

.input {
  width: 90%;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-right: auto;
  background: transparent;
}

.fadeOut {
  animation: fadeOutAnimation 10s ease-in-out forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.searchBarShow {
  animation: showSearchBarAnimation 1s ease-in-out 1s forwards; /* 1s delay for title fade-out */
}

@keyframes showSearchBarAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showButtonAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
