.main {
  border-radius: 1rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 2;
  grid-row-end: 4;
}

.title {
  display: block;
}

.circle {
  background-color: #eb0a1e;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
